@model ClarkCodingChallenge.Models.EntryViewModel
@{
    ViewData["Title"] = "Confirmation";
}

<h1>Confirmation</h1>

<div class="col-md-4">
        <div>
            <label class="control-label">@Model.LastName</label>
        </div>
        <div>
            <label class="control-label">@Model.FirstName</label>
        </div>
        <div>
            <label class="control-label">@Model.Email</label>
        </div>
</div>